<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/178-1780507_sunny-weather-weather-line-icon-png-transparent-png.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
       {{>header}}
    </div>
    
    {{>footer}}
    
</body>
</html>